body {
    font-size: 50px;
}
button {
    font-size: 25px;
    border-radius: 5px;
}

input {
    border-radius: 7px;
}

#calc {
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-column: 1 / -1;
    /*background-color: #b2b9b7;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;
    align-items: flex-end;*/
    padding: 5px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
}

#container {
    background-color: black;
    border: 10px solid rgba(47,47,47,1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
}

#screen {
    background-color: lightsteelblue;
    border: 2px solid black;
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: right;
    font-size: 50px;

}

#clear {
    grid-column: 1 / 4;
    grid-row: 2;
}

#divide {
    grid-column: 4/4;
    grid-row: 2;
}

#zero {
    grid-column: 1 / 3;
    grid-row: 6;
}

.signe {
    background-color: orange;

}

.chiffres {
    background-color: lightskyblue;
}
/*#one {
    grid-column: 1;
    grid-row: 1;
}

#two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

#three {
    grid-column: 1;
    grid-row: 2 / 5;
}

#four {
    grid-column: 3;
    grid-row: 3;
}

#five {
    grid-column: 2;
    grid-row: 4;
}

#six {
    grid-column: 3;
    grid-row: 4;
}
*/
